@font-face {
    font-family: "Comic Neue";
    src: url("../fonts/ComicNeue_Bold.otf");
}

html {
    background-color: #000;
}

body {
    overflow-x: hidden;
    overflow-y: scroll;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

a {
    color: #ff0;
    text-decoration: none;
}

#container {
    margin: 0 auto;
    width: 800px;
    height: 540px;
}

#sans {
    margin: 25px auto;
    background-image: url('../img/sans.gif');
    width: 118px;
    height: 151px;
}

.dialog-box {
    margin: 0 auto;
    box-sizing: border-box;
    width: 100%;
    max-width: 575px;
    min-height: 150px;
    border: 4px solid white;
    padding: 24px 16px 16px 16px;
    background-color: #000;
}

.dialog-box-paragraph {
    overflow: hidden;
    margin-top: -5px;
    margin-bottom: 5px;
    color: white;
    font-size: 14pt;
    line-height: 1.4em;
    letter-spacing: 0.062em;
    padding-left: 21px;
    text-indent: -21px;
    position: relative;
    word-break: normal;
    font-family: "Comic Sans MS", "Comic Sans", "Comic Neue", cursive;
    font-weight: bold;
}

.dialog-box-image:before {
    margin-right: 21px;
    float: left;
    content: url('../img/sans_face_1.png');
    height: 100px;
    position: relative;
}

#annonying-dog {
    display: none;
    position: absolute;
    left: 50%;
    margin-top: 25px;
    background-image: url('../img/annonying_dog.gif');
    background-position: 60px 30px;
    background-repeat: no-repeat;
    width: 169px;
    height: 120px;
}

#annonying-dog-input {
    background-color: black;
    color: white;
    font-weight: bold;
    width: 195px;
}
